*{
    box-sizing: border-box;
  }
  body{
    background-color: white;
    height: 100%;
    overflow-y: hidden;
    
  }

  
  .content{
    margin:2%;
    background-color: white;
    padding:4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
  }
  .signin-text{
    font-style: normal;
    font-weight: 600 !important;
  
  }
  .form-control{
     display:block;
     width: 100%;
     font-size: 1rem;
     font-weight: 400;
      line-height: 1.5;
      border-color:blueviolet;
      border-style: solid;
      border-width: 0 0 1px 0;
   padding:  0px;
   color: black;
    height: auto;
    border-radius: 0;
    background-color: white;
    background-clip: padding-box;
  }
  
  .form-control:focus{
    color: black;
    background-color: white;
    border-color: black;
    outline: 0;
    box-shadow: none;
  }
  .btn-class-form{
    border-color: rgb(112, 112, 247);
    color:white;
    background-color: rgb(112, 112, 247);
    padding: 2%;
  }
  .btn-class-form:hover{
     background-color:gray;
  }